<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CarmaWebdon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="app" class="container-fluid"></div>
    <script src="~/lib/jquery/dist/jquery.min.js" ></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" ></script>
    <script src="~/Built/main.bundle.js"></script>
</body>
</html>